[submodule "BSc - Data Science and Artificial Intelligence/KEN3500 - Bachelor Thesis/code"]
	path = BSc - Data Science and Artificial Intelligence/KEN3500 - Bachelor Thesis/code
	url = https://github.com/ThomasVroom/Online-Polycube-Packing
[submodule "MSc - Artificial Intelligence/KEN4123 - Intelligent Search & Games"]
	path = MSc - Artificial Intelligence/KEN4123 - Intelligent Search & Games
	url = https://github.com/ThomasVroom/Fianco
[submodule "MSc - Artificial Intelligence/KEN4157 - Reinforcement Learning"]
	path = MSc - Artificial Intelligence/KEN4157 - Reinforcement Learning
	url = https://github.com/ThomasVroom/Adversarial-LunarLander
[submodule "MSc - Artificial Intelligence/KEN4224 - Data Visualization/project"]
	path = MSc - Artificial Intelligence/KEN4224 - Data Visualization/project
	url = https://github.com/ThomasVroom/Nabijheid-Voorzieningen-DataVis
[submodule "MSc - Artificial Intelligence/KEN4114 - Autonomous Robotic Systems/project"]
	path = MSc - Artificial Intelligence/KEN4114 - Autonomous Robotic Systems/project
	url = https://github.com/ThomasVroom/ARS-Assignment
