[submodule "BSc - Data Science and Artificial Intelligence/Thesis/code"]
	path = BSc - Data Science and Artificial Intelligence/Thesis/code
	url = https://github.com/ThomasVroom/Online-Polycube-Packing
[submodule "MSc - Artificial Intelligence/KEN4123 - Intelligent Search & Games"]
	path = MSc - Artificial Intelligence/KEN4123 - Intelligent Search & Games
	url = https://github.com/ThomasVroom/Fianco
