[submodule "BSc - Data Science and Artificial Intelligence/Thesis/code"]
	path = BSc - Data Science and Artificial Intelligence/Thesis/code
	url = https://github.com/ThomasVroom/Online-Polycube-Packing
